In [13]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("data/LargestCompaniesInUSAbyReveneue.csv")

2022 Revenue information for the top 100 companies in the United States.

The top 5 companies by revenue in 2022 in the United States.

In [15]:
df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,General merchandisers,"572,754",2.40%,2300000.0,"Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"469,822",21.70%,1608000.0,"Seattle, Washington"
2,3,Apple,Electronics industry,"365,817",33.20%,154000.0,"Cupertino, California"
3,4,CVS Health,Healthcare,"292,111",32.00%,258000.0,"Woonsocket, Rhode Island"
4,5,UnitedHealth Group,Healthcare,"287,597",11.80%,350000.0,"Minnetonka, Minnesota"

Which industry appears the most/least in the top 100 companies?

In [16]:
df['Industry'].value_counts()

Industry
Financials                         12
Retail                              9
Petroleum industry                  9
Pharmaceutical industry             7
Technology                          7
Insurance                           7
Healthcare                          6
Conglomerate                        4
Telecommunications                  3
Transportation                      2
Financial                           2
Pharmaceuticals                     2
Health Insurance                    2
Health                              1
Retail and Cloud Computing          1
Electronics industry                1
General merchandisers               1
Food industry                       1
Beverage                            1
Consumer products Manufacturing     1
Media                               1
Aerospace and Defense               1
Automotive industry                 1
Automotive                          1
Financial services                  1
Automotive and Energy               1
Chemical industry                   1
Aerospace and defense               1
Food Service                        1
Machinery                           1
Telecom Hardware Manufacturing      1
Food Processing                     1
Apparel                             1
Agriculture manufacturing           1
Medical devices                     1
Software                            1
Laboratory instruments              1
Beverages                           1
Airspace and defense                1
Agriculture cooperative             1
Metals                              1
Name: count, dtype: int64

Which state/city hosts the most/least top 100 revenue companies in the United States?

In [17]:
df['Headquarters'].value_counts()

Headquarters
New York City, New York           13
Houston, Texas                     5
Chicago, Illinois                  3
Atlanta, Georgia                   3
Dallas, Texas                      2
                                  ..
Beaverton, Oregon                  1
Moline, Illinois                   1
Reston, Virginia                   1
Inver Grove Heights, Minnesota     1
Milwaukee, Wisconsin               1
Name: count, Length: 71, dtype: int64

Which companies have employees below 100,000?

In [21]:
employee_info = df[(df['Employees'] < 100000)]
print(employee_info)

    Rank                                 Name                        Industry  \
5      6                          Exxon Mobil              Petroleum industry
8      9                 McKesson Corporation                          Health
9     10                    AmerisourceBergen         Pharmaceutical industry
12    13                                Cigna                Health Insurance
14    15                      Cardinal Health                      Healthcare
15    16                  Chevron Corporation              Petroleum industry
18    19                   Marathon Petroleum              Petroleum industry
19    20                      Elevance Health                      Healthcare
25    26                              Centene                      Healthcare
26    27                       Meta Platforms                      Technology
28    29                          Phillips 66              Petroleum industry
29    30                        Valero Energy              Petroleum industry
32    33                           Fannie Mae                      Financials
37    38               Archer Daniels Midland                   Food industry
39    40                               Humana                Health Insurance
41    42                           State Farm                      Financials
42    43                               Pfizer         Pharmaceutical industry
49    50                              MetLife                      Financials
50    51                 Prudential Financial                      Financials
53    54             Energy Transfer Partners              Petroleum industry
55    56                          Freddie Mac                      Financials
56    57                        Goldman Sachs                      Financials
58    59                                   HP                      Technology
60    61                       Morgan Stanley                      Financials
62    63                               AbbVie         Pharmaceutical industry
63    64                 Dow Chemical Company               Chemical industry
64    65                                Tesla           Automotive and Energy
65    66                             Allstate                       Insurance
66    67                                  AIG                       Insurance
67    68                             Best Buy                          Retail
68    69               Charter Communications              Telecommunications
69    70                                Sysco                    Food Service
70    71                          Merck & Co.         Pharmaceutical industry
71    72      New York Life Insurance Company                       Insurance
74    75                                Cisco  Telecom Hardware Manufacturing
77    78                       ConocoPhillips              Petroleum industry
78    79                 Liberty Mutual Group                       Insurance
79    80              Progressive Corporation                       Insurance
80    81  Nationwide Mutual Insurance Company                       Financial
82    83                 Bristol-Myers Squibb         Pharmaceutical industry
83    84                              GSK plc                 Pharmaceuticals
84    85                                 Nike                         Apparel
85    86                           John Deere       Agriculture manufacturing
86    87                     American Express                       Financial
88    89                         StoneX Group                      Financials
89    90         Plains All American Pipeline              Petroleum industry
90    91                  Enterprise Products              Petroleum industry
91    92                                 TIAA                       Insurance
94    95                    Coca-Cola Company                       Beverages
96    97                                  CHS         Agriculture cooperative
97    98                                 USAA                      Financials
98    99                  Northwestern Mutual                       Insurance
99   100                                Nucor                          Metals

   Revenue (USD millions) Revenue growth  Employees  \
5                 285,640         57.40%    63000.0
8                 238,228          3.10%    67500.0
9                 213,989         12.70%    40000.0
12                174,078          8.50%    72963.0
14                162,467          6.20%    46827.0
15                162,465         71.60%    42595.0
18                141,032         58.50%    17700.0
19                138,639         13.80%    98200.0
25                125,982         13.40%    72500.0
26                117,385         37.20%    71970.0
28                114,852         75.40%    14000.0
29                108,332         80.20%     9804.0
32                101,543          4.60%     7400.0
37                 85,959         32.50%    39979.0
39                 83,064          7.70%    95500.0
41                 82,407          4.20%    53586.0
42                 81,288         94.00%    79000.0
49                 71,080          4.80%    43000.0
50                 70,934         24.40%    40916.0
53                 67,418         73.10%    12558.0
55                 65,898          0.50%     7301.0
56                 64,989          2.70%    43900.0
58                 63,487         12.10%    51000.0
60                 61,121         17.40%    74814.0
62                 56,197         22.70%    50000.0
63                 54,968         42.60%    35700.0
64                 53,823         70.70%    99290.0
65                 53,228         18.80%    54500.0
66                 52,057         19.00%    36600.0
67                 51,761          9.50%    81375.0
68                 51,682          7.50%    93700.0
69                 51,298          3.00%    57710.0
70                 51,216          6.70%    67500.0
71                 51,199          9.60%    13344.0
74                 49,818          1.00%    79500.0
77                 48,349        151.10%     9900.0
78                 48,200         10.10%    45000.0
79                 47,702         11.80%    49077.0
80                 47,376         13.00%    24134.0
82                 46,385          9.10%    32200.0
83                 44,700          3.00%    97000.0
84                 44,538         19.10%    73300.0
85                 44,024         23.90%    75550.0
86                 43,663         14.30%    64000.0
88                 42,534         21.40%     3242.0
89                 42,078         80.70%     4100.0
90                 40,807         50.00%     6911.0
91                 40,526          2.60%    15065.0
94                 38,655         17.10%    79000.0
96                 38,448          1.40%     9941.0
97                 37,470          3.20%    37335.0
98                 36,751          8.80%     7585.0
99                 36,484         81.20%    28800.0

                                  Headquarters
5                                Spring, Texas
8                                Irving, Texas
9                   Chesterbrook, Pennsylvania
12                     Bloomfield, Connecticut
14                                Dublin, Ohio
15                       San Ramon, California
18                               Findlay, Ohio
19                       Indianapolis, Indiana
25                         St. Louis, Missouri
26                      Menlo Park, California
28                              Houston, Texas
29                          San Antonio, Texas
32                            Washington, D.C.
37                           Chicago, Illinois
39                        Louisville, Kentucky
41                       Bloomington, Illinois
42                     New York City, New York
49                     New York City, New York
50                          Newark, New Jersey
53                               Dallas, Texas
55                            McLean, Virginia
56                     New York City, New York
58                       Palo Alto, California
60                     New York City, New York
62                        Lake Bluff, Illinois
63                           Midland, Michigan
64                               Austin, Texas
65  Northfield Township, Cook County, Illinois
66                     New York City, New York
67                        Richfield, Minnesota
68                       Stamford, Connecticut
69                              Houston, Texas
70                      Kenilworth, New Jersey
71                     New York City, New York
74                        San Jose, California
77                              Houston, Texas
78                       Boston, Massachusetts
79                      Mayfield Village, Ohio
80                              Columbus, Ohio
82                     New York City, New York
83                  Philadelphia, Pennsylvania
84                           Beaverton, Oregon
85                            Moline, Illinois
86                     New York City, New York
88                     New York City, New York
89                              Houston, Texas
90                              Houston, Texas
91                     New York City, New York
94                            Atlanta, Georgia
96              Inver Grove Heights, Minnesota
97                          San Antonio, Texas
98                        Milwaukee, Wisconsin
99                   Charlotte, North Carolina

Which company had the highest revenue growth in 2022 out of the Top 100?

In [29]:
df.loc[df['Revenue growth'].idxmax()]

Rank                                           43
Name                                       Pfizer
Industry                  Pharmaceutical industry
Revenue (USD millions)                     81,288
Revenue growth                             94.00%
Employees                                 79000.0
Headquarters              New York City, New York
Name: 42, dtype: object

Which company had the lowest revenue growth in 2022 out of the Top 100?

In [30]:
df.loc[df['Revenue growth'].idxmin()]

Rank                                             36
Name                                Bank of America
Industry                                 Financials
Revenue (USD millions)                       93,851
Revenue growth                                0.10%
Employees                                  208248.0
Headquarters              Charlotte, North Carolina
Name: 35, dtype: object